---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Not Found" description="Error 404 - site not found.">
    <main class="height-smart-fill-screen side-gap-padding flow flex-center flex-column">
        <h1>Error 404</h1>
        <p>The page you requested has not been found.</p>
        <p><a href="/">Return to home page.</a></p>
    </main>
</BaseLayout>