---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="About Flow Timer"
    description="About Flow Timer and how it helps you focus using the time-boxing approach."
>
    <main class="base-layout">
        <div
            class="height-smart-fill-screen flow set-main-content-max-width margin-inline-auto main-header-element"
        >
            <h1 class="text-align-center">About Flow Timer</h1>
            <p>
                Flow Timer is a simple tool designed to help you focus and get
                things done. By breaking your time into clear, manageable
                blocks, it encourages productivity and keeps you on track.
                Finish your tasks and reach your goals with time-boxing.</br>Whether
                you're studying, working, or tackling personal projects, Flow
                Timer helps you stay focused and finish tasks without feeling
                overwhelmed.
            </p>
            <p>
                It's easy to use, flexible, and built to support you in finding
                your flow. Without any bloat and things you don't need.
                Respecting your privacy.
            </p>
            <p><a href="/">Try Flow Timer now</a>.</p>
        </div>
    </main>
</BaseLayout>