---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Privacy" description="Privacy statement for Flow Timer.">
    <main class="base-layout">
        <div
            class="height-smart-fill-screen flow set-main-content-max-width margin-inline-auto main-header-element"
        >
            <h1 class="text-align-center">Privacy</h1>
            <p>No personal data is collected.</p>
            <p>
                The project is open-source and all of its code is available on the <a
                    href="https://github.com/BryanHogan/flow-timer">Flow Timer GitHub repository</a>.
            </p>
        </div>
    </main>
</BaseLayout>
